.f-control {
  display: block;
  width: 100%;
  font-size: 14px;
  background-color: rgba(var(--primary-color-rgb), 0.1);
  padding: 10px;
  border-radius: 3px;
  margin: 10px 0;
  &::placeholder {
    color: rgba(var(--text-color-rgb), .5);
  }
}

select option {
  background-color: #273973 !important;
  color: white;
  
}

label.f-checkbox {

  display: flex;
  align-items: center;
  cursor: pointer;

  input[type=checkbox] {
    all: unset;
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-color: rgba(var(--primary-color-rgb), 0.1);
    border-radius: 50%;
    margin-right: 5px;
    &:checked {
      position: relative;
      height: 18px;
      width: 18px;
      min-width: 18px;
      border: 1px solid var(--b-color-primary);
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        min-width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--b-color-primary);
      }
    }
  }

}

.f-group {
  display: flex;
  // margin-right: -6px;
  // margin-left: -6px;
  // .f-element {
  //   flex: 1;
  //   padding: 0 6px;
  // }
}

.i-group {
  position: relative;

  &.i-collapse {
    .f-control {
      padding-left: 45px !important;
    }
    .group-icon {
      background-color: rgba(white, 0.04);
    }
  }

  .f-control {
    padding-left: 35px;
  }
  .group-icon {
    position: absolute;
    top: 0;
    height: 100%;
    width: 35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      margin-top: 2px;
    }

    &.position-right {
      right: 0 !important;
      width: inherit;
      padding: 10px;
      border-radius: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}