.p-0 {
  padding: 0;
}

.card {
  overflow: hidden;
  &.card-responsive {
    overflow-x: auto;
  }
  table {
    width: 100%;
    caption-side: bottom;
    border-collapse: collapse;
    
    thead {
      background-color: rgba(var(--primary-color-rgb), .3);
      tr {
        th {
          padding: 10px 0;
          text-align: left;
          font-size: 16px;
        }
      } 
    }
    tbody {
      tr {
        border-bottom: 1px solid rgba(var(--dark-rgb), .2);
        &:last-child {
          border-width: 0 !important;
        }
        td {
          &.w-zero {
            width: 0;
          }
          & > span {
            display: inline-block;
            width: max-content;
          }
          padding: 10px 0;
          font-size: 14px;
        }
      }
    }
  }
}

table > :not(caption) > * > * {
  padding: .5rem !important;
  border-bottom-width: 1px;
}